version: '2'

services:
  web:
    restart: always
    image: nginx:stable-alpine
    links:
      - phpfpm:phpfpm
    volumes:
      - ./cache/nginx:/var/cache/nginx
      - ./www:/var/www
      - ./nginx/conf/nginx.conf:/etc/nginx/conf/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./logs/nginx:/var/log/nginx
    ports:
      - "80:80"
  mysql:
    image: mariadb:10.1
    volumes:
      - ./mysql/initdb:/docker-entrypoint-initdb.d
      - ./mysql/conf.d:/etc/mysql/conf.d
      - ./mysql/data:/var/lib/mysql
      - ./mysql/log:/var/log/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=R!123456#
      - MYSQL_DATABASE=homestead
      - MYSQL_USER=homestead
      - MYSQL_PASSWORD=secret
    restart: always
  phpfpm:
    image: wiwatsrt/docker-laravel-php7fpm
    links:
      - mysql:mysql
    depends_on:
      - mysql
    volumes:
      - ./www:/var/www
    restart: always
  composer:
    image: wiwatsrt/docker-laravel-composer
    volumes_from:
      - phpfpm
