version: '2'

services:
  
  nginx:
    restart: always
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    links:
      - phpfpm:phpfpm
    volumes:
      - ./cache/nginx:/var/cache/nginx
      - ./www:/usr/share/nginx/html
      - ./nginx/conf/nginx.conf:/etc/nginx/conf/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./logs/nginx:/var/log/nginx

  phpfpm:
    image: wiwatsrt/flarum-docker-phpfpm
    restart: always
    links:
      - db:db
    volumes:
      - ./www:/usr/share/nginx/html
      - ./phpfpm/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./phpfpm/php.ini:/usr/local/etc/php/php.ini
      - ./logs/php-fpm:/var/log/php-fpm

  db:
    image: mariadb:10.1
    restart: always
    volumes:
      - ./mysql/initdb/:/docker-entrypoint-initdb.d
      - ./mysql/data/:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql
    env_file: .env

  composer:
    image: wiwatsrt/flarum-docker-composer
    volumes:
      - ./www/:/usr/share/nginx/html
