[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
bind-address=0.0.0.0
skip-name-resolve
skip-host-cache
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

innodb_buffer_pool_size = 2G
innodb_log_file_size = 256M
innodb_buffer_pool_instances = 2
query_cache_size = 0
query_cache_type = 0

# LOGGING #
log-error = /var/log/mysql/mysql-error.log
log-queries-not-using-indexes = 1
slow-query-log = 1
slow-query-log-file = /var/log/mysql/mysql-slow.log
long_query_time = 2
log_queries_not_using_indexes = 1